* {
    /*border: 5px solid #660066;*/
}

window {
	box-shadow: none;
	border: none;
	background-color: #000000;
	opacity: 100%;
}

#main-box {
	padding: 6px;
}

#title {
	font-size: 30px;

	margin-top: 20px;
	margin-bottom: 10px;
}

.glass-button {
	margin-left: 3px;
	margin-right: 3px;
	border-radius: 30px;

	background-image: none;
	box-shadow: none;
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(15px);
	border: 1px solid rgba(255, 255, 255, 0.2);
	transition: background-color 0.15s ease;
}

.glass-button:hover {
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.glass-button:active {
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.6);
}

.glass-button-image {
	padding: 10px;
}

/* #power-control-box {
} */

.entry * {
}

.entry {
	border-radius: 30px;

	font-size: 22px;
	margin-top: 15px;
	padding: 15px;

	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(15px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	transition: background-color 0.15s ease;
}

.entry-grub:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.4);
}

.pop-up {
	border-radius: 30px;

	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(15px);
}

#time-label {
	font-size: 100px;
	font-family: Inter;
	font-weight: 600;

	border-radius: 20px;
	color: rgba(255, 255, 255, 0.7);
}

#date-label {
	font-size: 25px;
	font-family: Inter;
	font-weight: 400;
	color: #ffffff;
}

#enter-to-label {
	font-size: 16px;
	font-weight: 400;
	color: #ffffff;
}

.active-user-label {
	font-size: 18px;
	font-weight: 400;
	color: #ffffff;
}

#password-text {
	margin: 15px;
	color: #ffffff;
	border-radius: 30px;

	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(12px);
}

#password-text placeholder {
	color: #ffffff;
}
