* {
    /*border: 5px solid #660066;*/
}

window {
	box-shadow: none;
	border: none;
	background-color: #000000;
	opacity: 100%;
}

#title {
	font-size: 30px;

	margin-top: 20px;
	margin-bottom: 10px;
}

.button {
	margin-right: 5px;
	border-radius: 30px;

	background-image: none;
	box-shadow: none;
	min-width: 80px;
	background-color: rgba(160, 160, 160, 0.3);
	backdrop-filter: blur(15px);
	border: 1px solid rgba(160, 160, 160, 0.6);
	transition: background-color 0.2s ease;
}

.button:hover {
	background-color: rgba(160, 160, 160, 0.5);
}

.image {
	padding: 10px;
}

/* #power-control-box {
} */

.entry * {
}

.entry {
	border-radius: 30px;

	font-size: 22px;
	margin-top: 15px;
	padding: 15px;

	background-color: rgba(160, 160, 160, 0.2);
	backdrop-filter: blur(8px);
}

#time-label {
	font-size: 100px;
	font-family: Inter;
	font-weight: 600;

	border-radius: 20px;
	color: rgba(255, 255, 255, 0.7);
}

#date-label {
	font-size: 25px;
	font-family: Inter;
	font-weight: 400;
	color: #ffffff;
}

.active-user-label {
	padding: 15px;
	font-size: 17px;
	font-weight: 400;
	color: #ffffff;
}

#password-text {
	color: #ffffff;
	background-color: #00000080;
	border-radius: 30px;

	background-color: rgba(160, 160, 160, 0.3);
	backdrop-filter: blur(8px);
}

#password-text placeholder {
	filter: brightness(0.7);
}
